body {
    font-family: Arial, sans-serif;
    background-color: rgba(52,53,65,255);
}

#calendarDays {
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;;
    background-color: white;
}
input::placeholder{
    color: rgb(104, 104, 104);
}

.calendarDays {
    display: flex;
    gap: 5px;
    width: 100%;
    color: #ecf0f1;
}
.calendarDays:hover{
    color: green;
    transition: background-color 0.3s, transform 0.1s;

}
.navbar {
    color: white;
    padding: 15px;
    
}
.home-link {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
}
.home-link:hover{
    background-color: green;
    transition: background-color 0.3s, transform 0.1s;
}

.calendar-header {
    position: relative;
    width: 100%;
    height: 50px;
}

#monthName {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.button-container {
    display: flex;
    margin-left: 5px;
    gap: 10px;
}

.arrow {
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.1s;
}
.arrow i {
    font-size: 20px;
    pointer-events: none;
}

.arrow:hover {
    background-color: green
}
.arrow:active {
    transform: scale(0.95);
}
.login-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.login-link:hover {
    background-color: green;
}


.day {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.eventContent{
    width: 100%;
}

.dayofMonth {
  border: 1px solid white;
  width: 100%;
  height: 100px;
  border-radius: 5px;
}
.dayofMonth:hover{
    background-color: green;
    transition: background-color 0.3s, transform 0.1s;
}
.contentContainer {
  display: flex;
  width: 190px;
  padding: 5px;

}
.content{
    width: 200px;
    color: white;

}